html,body{
	padding: 0;
	margin: 0;
	font-family: Arial;
	background-color: #3b3b3b;
}
a:visited{
	color: white;
}
a{
	color: white;
	text-decoration: none;
}
a:hover{
	color: #b8b8b8;
}
input {
  all: unset;
}
input[type="text"]{
	border: solid 1px #d4d7d9;
	padding: 5pt;
	border-radius: 3px;
}
::placeholder {
  color: #d4d7d9;
}
input[type="submit"]{
	background-color: #b8b8b8;
	padding: 5pt;
	border-radius: 3px;
	font-size: 10pt;
}
input[type="button"]{
	background-color: #b8b8b8;
	padding: 7pt;
	border-radius: 2px;
	font-size: 12pt;
	float: right;
	text-align: center;
	padding-left: 0px;
	width: 95px;

}
input[type="reset"]{
	grid-column: 2;
	grid-row: 2;
}

label {
		font-size: .8rem;
		justify-self: end;
}

#topBar{
}
#nameBar{
	display: block;
	color: white;
	background-color: black;
	overflow: hidden;
	padding: 15pt;
}

#logo{
	width: 500px;
}

#logoBar{
	color: white;
	background-color: #00274c;
	overflow: hidden;
	padding: 10pt;
}

#menu{
	color: white;
	background-color: #787878;
	padding: 20pt;
	overflow: hidden;
}
#menuItems{
	float: left;
}
.menuItem{
	margin-right: 10pt;
	font-size: 14pt;
}
.notification{
	background-color: #ed1527;
	border-radius: 5px;
	padding: 3pt;
	font-size: 8pt;
	margin-left: 8pt;
}
#searchBar{
	float: right;
}

#content{
	width: 900px;
	display: block;
	margin: 0 auto;
	margin-top: 1em;
	padding: 1em;
	-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    color: white;
}
#contentBox{
	background-color: #262626;
	padding: 2em;
	border-radius: 5px;
		-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
#contentTitle{
	font-size: 18pt;
	font-weight: bold;
	margin-bottom: 0.75em;
	padding-bottom: 0.25em;
	border-bottom: solid 1px #d4d7d9;
}

#googlecalendar{
	margin: 0 auto;
	margin-top: 3em;
	padding: 1em;
	position: absolute;
	left: 150px;
}

#addevent{
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top: 4em;
	padding: 1em;
	position: absolute;
	right: 350px;
}


.overflow-hidden{
	display: flex;
	overflow: hidden;
}
.splitLeft{
	float: left;
	width: 49%;
}
.splitRight{
	float: right;
	width: 49%;
}

.boxItemTitle{
	font-size: 14pt;
	font-weight: bold;
}
.boxItemContent{
	margin: 0.75em 1em;

}
.boxItemBottom{
	margin-bottom: 3em;
}
.controls {
    padding-top: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 2fr;
    gap: .7rem;

.myGradesTitle {
		text-align: left;
		font-size: 20pt;

}
